@font-face {
    font-family: 'Carter One';
    src: url('../fonts/CarterOne.woff2') format('woff2'),
        url('../fonts/CarterOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

